In [155]:
print("shubham")

shubham

In [156]:
rent=1220
gas = 202.5
gro=305.6
total=rent+gas+gro
print(total)

1728.1

In [157]:
rent=3000
print(total)

1728.1

In [158]:
item1="rent"
item2="gas"
item3="groce"
print("expence item:",item1,item2,item3)

expence item: rent gas groce

NUMBERS IN PYTHON

In [159]:
12+34

46

In [160]:
11%2

1

In [161]:
3**2

9

In [162]:
2**4

16

In [163]:
nyv_bal=188
bal_pitt=247
total_dist=nyv_bal+bal_pitt
total_dist

435

In [164]:
mph=65
time=total_dist/mph
time

6.6923076923076925

In [165]:
round(time,2) #to avoid decimal point and get precise point

6.69

In [166]:
10+2*3

16

In [167]:
(10+2)*3

36

In [168]:
6-5.7

0.2999999999999998

In [169]:
round(6-5.7,3)

0.3

List in python

In [170]:
item=["bread","pasta","fruits","vegs"]

In [171]:
item

['bread', 'pasta', 'fruits', 'vegs']

In [172]:
item[0]

'bread'

In [173]:
item[2]

'fruits'

In [174]:
item[0]="chips"

In [175]:
item

['chips', 'pasta', 'fruits', 'vegs']

In [176]:
item[0:2]

['chips', 'pasta']

In [177]:
item[-1]

'vegs'

In [178]:
item=["bread","pasta","fruits","vegs"]

In [179]:
item

['bread', 'pasta', 'fruits', 'vegs']

In [180]:
item.append("Butter") #adding item in list

In [181]:
item

['bread', 'pasta', 'fruits', 'vegs', 'Butter']

In [182]:
item=["bread","pasta","fruits","vegs"]

In [183]:
item

['bread', 'pasta', 'fruits', 'vegs']

In [184]:
item.insert(1,"butter") #adding item in list at specific location

In [185]:
item

['bread', 'butter', 'pasta', 'fruits', 'vegs']

In [206]:
food =["bread","pasta","fruits","vegs"]
bathroom=["shampoo","soap"]

In [213]:
items=food+bathroom #adding two list togather

In [214]:
items

['bread', 'chees', 'pasta', 'fruits', 'vegs', 'shampoo', 'soap']

In [215]:
food.insert(1,"chees")

In [216]:
food

['bread', 'chees', 'chees', 'pasta', 'fruits', 'vegs']

In [219]:
len(items) #length of the list

7

In [222]:
"bread" in items #to cheak the list is it has that specific function or not

True

In [224]:
"soda" in items

False

If statement in python

In [246]:
a = input("enter a number") #cheaking tyhe number is odd or even using if_else function
a = int(a)
if a%2==0:
    print("number ia even")
else:
    print("number is odd")

number ia even

opartor

In [256]:
4==4
4!=4
4!=5

True

In [261]:
2>1
2>=2
1>2

False

In [272]:
indian = ["samosa","vadapav","bhindi","dal","jalebi"]
continental = ["bread","pasta","nudels"]
chinese = ["egg role","fired rice"]
japanese = ["rice bolls"]
italian=["pizza","pasta"]

dish = input("Enter a Dishname:")
if dish in indian:
    print("this is indian Dish")

elif dish in continental:
    print("continental")

elif dish in chinese:
    print("chinese")

elif dish in italian:
    print("italian")

elif dish in japanese:
    print("japan")

else:
    print("i dont know")

japan

For loop

In [278]:
exp = [2340,2500,2100,3100,2980]
total = exp[0] + exp[1] + exp[2] + exp[3] + exp[4]
print(total)

13020

In [279]:
exp = [2340,2500,2100,3100,2980]
total = 0
for item in exp:
    total = total + item
print(total)

13020

In [283]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [286]:
for i in range(0,11):
    print(i*i) #squre of numbers

0
1
4
9
16
25
36
49
64
81
100

In [8]:
exp = [2340,2500,2100,3100,2980]
total = 0
for i in range (len(exp)):
    print('month',(i+1),'expense',exp[i])
    total = total + exp[i]

print("my total exp is: ",total)

month 1 expense 2340
month 2 expense 2500
month 3 expense 2100
month 4 expense 3100
month 5 expense 2980
my total exp is:  13020

In [28]:
key = "chair"
location = ["garege","living room","chair","closet"]
for i in location:
    if i==key:
        print("found in ",i)
        break
    else:
        print("not found in",i)

not found in garege
not found in living room
found in  chair

In [52]:
for i in range (1,6):
    if i%2==0:
        continue
    print(i*i)

1
9
25

In [56]:
i = 1
while i<=5:
    print(i)
    i = i + 1

1
2
3
4
5

In [60]:
tom = [2100,3400,3500]
jerry = [200,500,700]

total=0
for item in tom:
    total = total + item
print("Toms total exp : ",total)

total=0
for item in jerry:
    total = total + item
print("jerrys total exp : ",total)

Toms total exp :  9000
jerrys total exp :  1400

^^^ same code using Function vvv

In [65]:
#function
def calculate_total(exp):
    total = 0
    for item in exp:
        total = total + item 
    return total 

tom = [2100,3400,3500]
jerry = [200,500,700]

toms_total= calculate_total(tom)
jerry_total= calculate_total(jerry)

print(toms_total)
print(jerry_total)

9000
1400

In [69]:
def sum(a,b):
    total = a+b
    return total 

n=sum(5,6)
print(total)

1400